.color-upload {
  text-align: center;
  padding: 20px;
}

.uploaded-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
  margin: 20px auto;
  border: 1px solid #ccc;
}

.uploaded-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Maintain aspect ratio */
}

.selected-color {
  margin-top: 20px;
}

.color-preview {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border: 1px solid #000;
  vertical-align: middle;
}

input[type="file"] + label {
  display: inline-block;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 10px;
}

/* Style the file input button */
label::before {
  content: "Upload Image";
  background-color: #007acc;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

label::before:hover {
  background-color: #0059b3;
}

input[type="file"] + label {
  display: inline-block;
  cursor: pointer;
}

